*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

/* Regole Blocchi Principali  */

.container {

position: relative;
width: 100%;
height: 100vh;
padding-top: 65px; 

/* DEBUG  */
background-color: black;

}

.Inline{

display: inline-block;
margin-right: 17px;
margin-left: 10px;
text-align: center;


}

.arrow{

align-self: flex-end;

}


/* Utility  */

.text-red{

color: red;

}

.text-green{


color: green;
;

}








.icons-right{

position:fixed; 
top: 20px;
right: 0;
color: white;

  /* DEBUG  
background-color: blueviolet; */

}


.container-card{

display: flex;
width: 90%;
height: 90%;
margin: 0 auto;
flex-wrap: wrap;
justify-content: space-between;
align-content: flex-start;
row-gap: 8px;

}

.card {

height: 100px;
width: calc( 100% / 7 - 8px );
position: relative;
column-gap: 8px;
background-image: url(https://picsum.photos/200);
background-size: cover;
background-position: center;

/* DEBUG
background-color: pink; */

}


.card-text{

position: absolute;
bottom: 0;
left: 0;

/* DEBUG */
/* background-color: blue; */

}


.toolbar{

display: flex;
height: 50px;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
align-items: center;
justify-content: space-between;
color: white;

/* DEBUG 
background-color: brown; */

}

.left-box{

display: flex;
justify-content: center;
align-content: center;

/* DEBUG
background-color: blueviolet; */

}

.right-box{

display: flex;
align-items: center;
justify-content: center;
 padding-right: 10px;
 height: 100%;
 width: 10%;
 text-align: center;
    

 /* DEBUG     */
/* background-color: aquamarine; */

}

.central-box{

 display: flex;
 justify-content: center;
 align-items: center;
 
 /* DEBUG */
/* background-color: violet; */


}